<%- include('includes/head'); %>
  <%- include('includes/nav'); %>

    <div class="container mt-5">
      <div class="row">
        <div class="col-md-2"></div>

        <div class="col-lg-8 my-3">
          <h1 class="text-center">Agenda</h1>
          <p class="text-center lead">Seus contatos estão aqui.</p>

          <div class="row">
            <div class="col my-3">
              <div class="alert alert-danger">Um erro qualquer!</div>
            </div>
          </div>

          <div class="responsive-table">
            <table class="table my-3">
              <tbody>
                <tr>
                  <th>Nome</th>
                  <th>Sobrenome</th>
                  <th>Email</th>
                  <th>Telefone</th>
                </tr>
              </tbody>
              <tr>
                <td>Rodolfo</td>
                <td>Martins Charles</td>
                <td>rodolfo@example.com</td>
                <td>(11) 99999-9999</td>
              </tr>
            </table>
          </div>

        </div>

        <div class="col-md-2"></div>

      </div>
    </div>
<%- include('includes/footer'); %>